body {
  background-color: #121212;
  color: #fff;
}

.chat-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #333;
}

.chat-header {
  text-align: center;
  margin-bottom: 20px;
}

.message-container {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #444;
  border-radius: 10px;
}

.message-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.message-timestamp {
  margin: 0;
  font-size: 0.8em;
  color: #888;
}

.message-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  width: 80%;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}
